{{#ifEqual method "PUT"}}
	<a href="{{deleteRoute}}" class="button secondary form-delete-button"/>Delete</a>
{{/ifEqual}} 
	<input type="submit" value="Save" class="button form-save-button" /> 
</form>